{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>ASOIAF Army Builder</h1>
            </div>
            <div class="col-lg-2">
                <div class="languageSwitch dropdown pull-right">
                    <a class="btn" btn-primary="" dropdown-toggle="" data-toggle="dropdown" href="#">Français&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Français</a></li>
                        <li><a href="">English</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <form>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="factionSelect">Faction</label>
                        <select class="form-control" id="factionSelect">
                            <option></option>
                            {% for faction in listFaction  %}
                                <option value="{{ faction.id }}">
                                    {{ faction.nom }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="armyPoint">Point de l'armée</label>
                        <input type="number" min="10" max="100" class="form-control" id="armyPoint"  pattern="\d*">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="commandSelect">Commandant</label>
                        <button id="btnListCmd" type="button" class="btn btn-primary form-control">Ajouter un commandant</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="combatUnit">Unité de combat</label>
                        <button id="btnListUC" type="button" class="btn btn-primary form-control">Ajouter une unité de combat</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="nonCombatUnit">Unité non-combatante</label>
                        <button id="btnListNUC" type="button" class="btn btn-primary form-control">Ajouter une unité non-combatante</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="armyName">Nom de l'armée</label>
                        <input type="email" class="form-control" id="armyName" placeholder="">
                    </div>
                    <br>
                    <button type="button" class="btn btn-default">Générer un PDF</button>
                </div>
                <div class="col-lg-6">
                    <label for="">Résumé</label>
                    <button type="button"  class="btn btn-default pull-right" title="Réinitialiser le formualaire" id="resetForm"><span class="glyphicon glyphicon-refresh"></span></button>
                    <div class="form-group">
                        <ul>
                            <li>Faction : <span class="factionNameResume"></span></li>
                            <li>Commandant : <ul class="commandantNameResume"></ul></li>
                            <li>Point : <span class="pointResume">0</span>/<span class="onPoints">0</span></li>
                            <li>Unité de combat :
                                <ul class="listCombatUnitNameResume">
                                </ul>
                            </li>
                            <li style="clear: both;">Unité non-combatante :
                                <ul class="listNonCombatUnitNameResume">
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </form>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="modalListUC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Unité de combat</h4>
                </div>
                <div class="modal-body" id="bodyListUC" style="max-height: 450px; overflow-x: auto">
                    <ul class="listUC"></ul>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalListNUC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Unité non combattante</h4>
                </div>
                <div class="modal-body"  id="bodyListNUC"  style="max-height: 450px; overflow-x: auto">
                    <ul class="listNUC"></ul>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalListCmd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Commandant</h4>
                </div>
                <div class="modal-body"  id="bodyListCmd"  style="max-height: 450px; overflow-x: auto">
                    <ul class="listCmd"></ul>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalListAttachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Attachment</h4>
                </div>
                <div class="modal-body"  id="bodyListAttachment"  style="max-height: 450px; overflow-x: auto">
                    <ul class="listAttachment"></ul>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .modal-body li::before {
            content: '';
            content: '';
            color: white;
            float: none;
            padding-right: 0;
            padding-top: 0;
        }

        .languageSwitch  li::before, .attachmentResume::before{
            content: '';
            content: '';
            color: white;
            float: none;
            font-size: 0.8em;
            padding-right: 0;
            padding-top: 0;
        }

        /*.listCombatUnitNameResume li::before, .listNonCombatUnitNameResume li::before{*/
            /*padding-right: 0;*/
        /*}*/
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/script.js') }}"></script>
{% endblock %}