<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Asoiaf</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"></head>
{#http://dev.uca.fr/asoiaf/web/app_dev.php/ajaxGeneratePDF?factionID=1&cmdID=1&ucID[]=19#}
<body style='background-image: url("{{ asset('bundles/app/images/secondbackground.jpg') }}");background-image-resize: 1'>
    <div style="position: absolute;width: 100%;margin: -1.7em;">
        <ul class="list-inline listNuc">
            {% for path in listPathUc2 %}
                {% for test2 in path %}
                    {% for test in test2 %}
                        <li style="padding-left: 2.5em" {% if not loop.first %}class=""{% endif %}>
                            <div style="float:left;width: 23.5em;padding-bottom:0.7em ">
                                <img class="img-responsive" src="{{ asset('bundles/app/images/uniteus/') ~  test.uc }}" />
                            </div>
                            {% if test.nattchId is defined %}
                                <div style="float: left;width: 9.7em;padding-left:1.3em;">
                                    <img class="img-responsive" src="{{ asset('bundles/app/images/uniteus/') ~  test.nattchId }}"/>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</body>
</html>
